body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1197px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:441px;
}
#u242 {
  position:absolute;
  left:947px;
  top:100px;
  width:250px;
  height:441px;
}
#u243 {
  position:absolute;
  left:2px;
  top:212px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:502px;
}
#u244 {
  position:absolute;
  left:166px;
  top:79px;
  width:778px;
  height:502px;
  color:#FFFF00;
}
#u245 {
  position:absolute;
  left:2px;
  top:243px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:50px;
}
#u246 {
  position:absolute;
  left:0px;
  top:-3px;
  width:1197px;
  height:49px;
}
#u247 {
  position:absolute;
  left:2px;
  top:16px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:38px;
}
#u248 {
  position:absolute;
  left:21px;
  top:8px;
  width:261px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
}
#u250 {
  position:absolute;
  left:1024px;
  top:4px;
  width:65px;
  height:30px;
  font-size:13px;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u252 {
  position:absolute;
  left:1092px;
  top:9px;
  width:13px;
  height:18px;
}
#u253 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u254 {
  position:absolute;
  left:1159px;
  top:8px;
  width:25px;
  height:20px;
}
#u255 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u256 {
  position:absolute;
  left:1108px;
  top:6px;
  width:41px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
}
#u258 {
  position:absolute;
  left:192px;
  top:526px;
  width:57px;
  height:34px;
}
#u259 {
  position:absolute;
  left:2px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:35px;
}
#u260 {
  position:absolute;
  left:249px;
  top:526px;
  width:63px;
  height:34px;
}
#u261 {
  position:absolute;
  left:2px;
  top:9px;
  width:59px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u262 {
  position:absolute;
  left:886px;
  top:546px;
  width:45px;
  height:14px;
}
#u263 {
  position:absolute;
  left:2px;
  top:-1px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
}
#u264 {
  position:absolute;
  left:947px;
  top:78px;
  width:250px;
  height:20px;
}
#u265 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:127px;
}
#u266 {
  position:absolute;
  left:901px;
  top:104px;
  width:33px;
  height:126px;
}
#u267 {
  position:absolute;
  left:2px;
  top:55px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u268 {
  position:absolute;
  left:904px;
  top:107px;
  width:27px;
  height:25px;
}
#u269 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u270 {
  position:absolute;
  left:905px;
  top:134px;
  width:26px;
  height:22px;
}
#u271 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:60px;
}
#u272 {
  position:absolute;
  left:903px;
  top:169px;
  width:29px;
  height:60px;
}
#u273 {
  position:absolute;
  left:2px;
  top:22px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u274 {
  position:absolute;
  left:1039px;
  top:81px;
  width:57px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u276 {
  position:absolute;
  left:0px;
  top:74px;
  width:166px;
  height:29px;
  font-size:17px;
}
#u277 {
  position:absolute;
  left:2px;
  top:3px;
  width:162px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:27px;
}
#u278 {
  position:absolute;
  left:0px;
  top:48px;
  width:166px;
  height:26px;
  font-size:17px;
}
#u279 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:170px;
  top:44px;
  width:1028px;
  height:34px;
  overflow:hidden;
}
#u280_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u280_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u281 {
  position:absolute;
  left:178px;
  top:54px;
  width:137px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u282 {
  position:absolute;
  left:16px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u281_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u283 {
  position:absolute;
  left:308px;
  top:55px;
  width:152px;
  height:16px;
}
#u284 {
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u283_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u285 {
  position:absolute;
  left:464px;
  top:55px;
  width:152px;
  height:16px;
}
#u286 {
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u285_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u287 {
  position:absolute;
  left:620px;
  top:55px;
  width:104px;
  height:16px;
}
#u288 {
  position:absolute;
  left:16px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u287_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u289 {
  position:absolute;
  left:727px;
  top:54px;
  width:140px;
  height:16px;
}
#u290 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u289_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u291 {
  position:absolute;
  left:862px;
  top:55px;
  width:140px;
  height:16px;
}
#u292 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u291_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u293 {
  position:absolute;
  left:1007px;
  top:55px;
  width:178px;
  height:16px;
}
#u294 {
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u293_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
