body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1196px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:460px;
}
#u60 {
  position:absolute;
  left:947px;
  top:82px;
  width:250px;
  height:460px;
}
#u61 {
  position:absolute;
  left:2px;
  top:222px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:524px;
}
#u62 {
  position:absolute;
  left:166px;
  top:44px;
  width:778px;
  height:524px;
  color:#0000FF;
}
#u63 {
  position:absolute;
  left:2px;
  top:254px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:59px;
  width:166px;
  height:21px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:48px;
}
#u66 {
  position:absolute;
  left:0px;
  top:-3px;
  width:1197px;
  height:47px;
}
#u67 {
  position:absolute;
  left:2px;
  top:16px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
}
#u68 {
  position:absolute;
  left:21px;
  top:8px;
  width:201px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u70 {
  position:absolute;
  left:595px;
  top:4px;
  width:128px;
  height:33px;
  font-size:17px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u72 {
  position:absolute;
  left:699px;
  top:5px;
  width:128px;
  height:33px;
  font-size:17px;
}
#u73 {
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u74 {
  position:absolute;
  left:816px;
  top:3px;
  width:128px;
  height:39px;
  font-size:17px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u76 {
  position:absolute;
  left:1098px;
  top:9px;
  width:13px;
  height:18px;
}
#u77 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u78 {
  position:absolute;
  left:1162px;
  top:8px;
  width:25px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u80 {
  position:absolute;
  left:1114px;
  top:6px;
  width:41px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:-1px;
  top:82px;
  width:160px;
  height:139px;
  overflow:hidden;
}
#u82_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:7px;
  width:154px;
  height:125px;
}
#u83_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u85 {
  position:absolute;
  left:22px;
  top:0px;
  width:127px;
  height:20px;
}
#u85_img.selected {
}
#u85.selected {
}
#u86 {
  position:absolute;
  left:3px;
  top:2px;
  width:122px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:20px;
  width:67px;
  height:20px;
  font-size:13px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u88 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u88_img.selected {
}
#u88.selected {
}
#u89 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:0px;
  top:40px;
  width:93px;
  height:20px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u91 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u91_img.selected {
}
#u91.selected {
}
#u92 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:0px;
  top:60px;
  width:93px;
  height:20px;
  font-size:13px;
  color:#000000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u94 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u94_img.selected {
}
#u94.selected {
}
#u95 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:0px;
  top:80px;
  width:106px;
  height:20px;
  font-size:13px;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
}
#u97 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u97_img.selected {
}
#u97.selected {
}
#u98 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:0px;
  top:100px;
  width:54px;
  height:20px;
  font-size:13px;
  color:#000000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u100 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u100_img.selected {
}
#u100.selected {
}
#u101 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u102 {
  position:absolute;
  left:5px;
  top:62px;
  width:72px;
  height:16px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u104 {
  position:absolute;
  left:145px;
  top:65px;
  width:13px;
  height:10px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
}
#u106 {
  position:absolute;
  left:192px;
  top:526px;
  width:57px;
  height:34px;
}
#u107 {
  position:absolute;
  left:2px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:35px;
}
#u108 {
  position:absolute;
  left:249px;
  top:526px;
  width:63px;
  height:34px;
}
#u109 {
  position:absolute;
  left:2px;
  top:9px;
  width:59px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u110 {
  position:absolute;
  left:886px;
  top:546px;
  width:45px;
  height:14px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-1px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
}
#u112 {
  position:absolute;
  left:947px;
  top:60px;
  width:250px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:127px;
}
#u114 {
  position:absolute;
  left:901px;
  top:63px;
  width:33px;
  height:126px;
}
#u115 {
  position:absolute;
  left:2px;
  top:55px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u116 {
  position:absolute;
  left:904px;
  top:66px;
  width:27px;
  height:25px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u118 {
  position:absolute;
  left:905px;
  top:93px;
  width:26px;
  height:22px;
}
#u119 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:60px;
}
#u120 {
  position:absolute;
  left:903px;
  top:128px;
  width:29px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:22px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u122 {
  position:absolute;
  left:1039px;
  top:61px;
  width:57px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
